.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #c3f8f6;
  overflow: hidden;
  width: 22rem;
  margin: auto;
}

@media (max-width: 768px) {
  .game-screen {
    width: 100%; /* Full screen on mobile devices */
  }
}
.game-header {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.logo {
  width: 140px;
  height: 139px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.game-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character img {
  transition: transform 1s ease-in-out;
}

.character.correct img {
  animation: moveAndReturn 3s ease-in-out forwards; /* Total duration includes the hold time */
}

@keyframes moveAndReturn {
  0% {
    transform: translateY(0) translateX(0); /* Initial position */
  }
  50% {
    transform: translateY(-100px) translateX(100px); /* Midway point */
  }
  70% {
    transform: translateY(-60px) translateX(220px); /* Landing position */
  }
  95% {
    transform: translateY(-10px) translateX(120px); /* Hold position */
  }
  100% {
    transform: translateY(-10px) translateX(110px); /* Maintain hold for 5 seconds */
  }
}

.character.wrong img {
  animation: moveAndReturn 3s ease-in-out forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.treasure img {
  transition: transform 1s ease-in-out;
}

.treasure.open img {
  transform: scale(1.2);
}
